.contact-page {
  background-image: url('../images/background-image1.jpg');
  background-size: cover;
  background-position: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white; /* Ensures text is readable on the background */
}

.social-media-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; 
}

.social-media-icons i {
  font-size: 30px; 
  margin-right: 15px;
  color: #DB1057;
  padding-right: 15px;
}

.social-media-icons i:last-child {
  margin-right: 0;
}

.contact-form {
  max-width: 100%;
  margin: 0 auto;
  padding: 15px; 
  background-color: rgba(0, 0, 0, 0.8); 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.contact-form h2 {
  text-align: center;
  margin-bottom: 15px; 
  color: #DB1057;
  font-size: 1.5rem; 
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 8px; 
  margin-bottom: 10px; 
  border: 1px solid #DB1057;
  border-radius: 5px; 
  background-color: #393e46;
  color: white; 
}

.contact-form textarea {
  height: 100px; 
}

.contact-form button {
  width: 100%;
  padding: 10px;
  background-color: #DB1057;
  color: black;
  border: none;
  border-radius: 5px; 
  cursor: pointer;
  transition: background-color 0.3s ease-in-out; 
}

.contact-form button:hover {
  background-color: pink;
}


@media only screen and (max-width: 768px) {
  .contact-page {
    padding-top: 20px;
    padding-bottom: 20px;
    padding: 20px;
  }

  .social-media-icons i {
    font-size: 24px;
    margin-right: 10px;
    padding-right: 5px;
  }

  .contact-form {
    padding: 10px;
  }

  .contact-form h2 {
    font-size: 1.2rem;
  }

  .contact-form input,
  .contact-form textarea {
    padding: 6px;
  }

  .contact-form textarea {
    height: 80px;
  }

  .contact-form button {
    padding: 8px;
  }
}
